{% extends 'blog/base.html' %}
{%load staticfiles%}

{% block content %}
<title>Professora Rita Romão  </title>
<div class="content">

    <div class="home">
        <div class="text-home" >
            <h3>Magé</h3>
            <hr/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et risus non ante bibendum fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean tincidunt leo a risus vehicula laoreet. Nulla at semper est. Morbi dui leo, auctor eu rutrum sed, dapibus et justo. Vestibulum imperdiet semper magna nec volutpat. Sed tincidunt facilisis ante. Nam erat magna, venenatis at nunc id, aliquet dictum sem. Curabitur dignissim sit amet nulla id blandit. Quisque tellus nisi, rhoncus id condimentum non, commodo ac ligula. Aenean ornare malesuada convallis. Nulla gravida elit vitae lectus dictum semper. In hac habitasse platea dictumst. Vivamus posuere molestie sagittis.</p>
        </div>

        <div class="img-home">
            <img src="http://www.placepuppy.net/400/250">
        </div>




        <div class="img-home">
            <img src="http://www.placepuppy.net/400/250">
        </div>
        <div class="text-home" >
            <h3>Professora Rita Romão</h3>
            <hr/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et risus non ante bibendum fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean tincidunt leo a risus vehicula laoreet. Nulla at semper est. Morbi dui leo, auctor eu rutrum sed, dapibus et justo. Vestibulum imperdiet semper magna nec volutpat. Sed tincidunt facilisis ante. Nam erat magna, venenatis at nunc id, aliquet dictum sem. Curabitur dignissim sit amet nulla id blandit. Quisque tellus nisi, rhoncus id condimentum non, commodo ac ligula. Aenean ornare malesuada convallis. Nulla gravida elit vitae lectus dictum semper. In hac habitasse platea dictumst. Vivamus posuere molestie sagittis.</p>
        </div>
    </div>

    <hr style="width: 97%;border-top: 1px solid rgba(0, 0, 0, 0.3);" />

    <div class="home">

        <div class="column">
            <h4>Denúncias</h4>
            <hr/>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et risus non ante bibendum fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean tincidunt leo a risus vehicula laoreet. Nulla at semper est. Morbi dui leo, auctor eu rutrum sed, dapibus et justo. Vestibulum imperdiet semper magna nec volutpat. Sed tincidunt facilisis ante. Nam erat magna, venenatis at nunc id, aliquet dictum sem. Curabitur dignissim sit amet nulla id blandit. Quisque tellus nisi, rhoncus id condimentum non, commodo ac ligula. Aenean ornare malesuada convallis. Nulla gravida elit vitae lectus dictum semper. In hac habitasse platea dictumst. Vivamus posuere molestie sagittis.</p>
        </div>

        <div class="column">
            <h4>Panorama Político</h4>
            <hr/>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et risus non ante bibendum fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean tincidunt leo a risus vehicula laoreet. Nulla at semper est. Morbi dui leo, auctor eu rutrum sed, dapibus et justo. Vestibulum imperdiet semper magna nec volutpat. Sed tincidunt facilisis ante. Nam erat magna, venenatis at nunc id, aliquet dictum sem. Curabitur dignissim sit amet nulla id blandit. Quisque tellus nisi, rhoncus id condimentum non, commodo ac ligula. Aenean ornare malesuada convallis. Nulla gravida elit vitae lectus dictum semper. In hac habitasse platea dictumst. Vivamus posuere molestie sagittis.</p>
        </div>

        <div class="column" style="text-align: justify;">
            <h4 style="text-align: center;">Eventos</h4>
            <hr/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et risus non ante bibendum fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean tincidunt leo a risus vehicula laoreet. Nulla at semper est. Morbi dui leo, auctor eu rutrum sed, dapibus et justo. Vestibulum imperdiet semper magna nec volutpat. Sed tincidunt facilisis ante. Nam erat magna, venenatis at nunc id, aliquet dictum sem. Curabitur dignissim sit amet nulla id blandit. Quisque tellus nisi, rhoncus id condimentum non, commodo ac ligula. Aenean ornare malesuada convallis. Nulla gravida elit vitae lectus dictum semper. In hac habitasse platea dictumst. Vivamus posuere molestie sagittis.</p>
        </div>
    </div>
</div>


{% endblock %}