{% extends 'blog/base.html' %}
{%load staticfiles%}

{% block content %}
<head><title>{{post.title}}</title>

</head>
<body id="post">
<div class="content">

    <h1 id="titleId" style="text-align: center">{{post.title}}</h1>
    <h3 id="titleId" style="text-align: center">Numero de Acessos: {{post.numReads}}</h1>
    
    {% if post.capa %}
        <img img src="{{post.capa.url}}" alt="{{post.title}}" style="width: 100%; padding: 40px;">
    {% else %}
        <img img src="{% static 'img/padrao.jpg' %}"style="width: 100%; padding: 40px;">
    {% endif %}
    <hr/>
    <p id="text" style="padding: 40px;padding-top: 0px; text-align: center;">{{post.text}}</p>
    <hr>
</div>
<script type="text/javascript" src="{% static 'javascripts/blogcontroller.js' %}"> </script>
<script type="text/javascript" src="{% static 'javascripts/post.js' %}"> </script>

</body>
{% endblock %}